Makefile
Makefile.Debug
Makefile.Release
*_wrap.cpp
lib*.dylib
lib*.so
lib*.so.*
*.dll
*.taokey
*.xl.bin
*.xl.crypt
*.xl.sig
*.xl.crypt.sig
*.ddd.sig
*/doc/Doxyfile
*/doc/output/
*/*/doc/Doxyfile
*/*/doc/output/
*.o
*.dylib
Makefile
doc/Doxyfile
doc/output
