[submodule "tao/xlr"]
	path = tao/xlr
	url = git://xlr.git.sourceforge.net/gitroot/xlr/xlr
[submodule "modules/vlc_audio_video"]
	path = modules/vlc_audio_video
	url = git://gitorious.org/tao-presentation-modules/vlc_audio_video.git 
