moc_*.cpp
qrc_*.cpp
debug/
release/
*.pro.user
*.o
ui_*.h
object_script.*.Release
object_script.*.Debug
.DS_Store
/Makefile
TAGS
*~
cscope.files
cscope.out
[a-z]
tao/[a-z]
libxlr/xlr.app
modules/canitao
