moc_*.cpp
qrc_*.cpp
debug/
release/
install/
*.pro.user
*.o
ui_*.h
object_script.*.Release
object_script.*.Debug
.DS_Store
/Makefile
tests/*/*_diff*.png
tests/*/*_played*.png
tests/results.ddd
tests/runTests.ddd
tests/Makefile
doc/Makefile
doc/c_files
doc/tao_doc
doc/doxygen-1.7.1/bin
doc/doxygen-1.7.1/lib
