moc_*.cpp
qrc_*.cpp
debug/
release/
install/
*.pro.user
*.pro.user.*
*.o
ui_*.h
object_script.*.Release
object_script.*.Debug
.DS_Store
/Makefile
TAGS
*~
cscope.files
cscope.out
[a-z]
tao/[a-z]
libxlr/xlr.app
modules/canitao
tests/*/*_diff*.png
tests/*/*_played*.png
tests/results.ddd
tests/runTests.ddd
tests/Makefile
doc/Makefile
doc/c_files
doc/doc
*.~?~
