[submodule "tao/xlr"]
	path = tao/xlr
	url = git://git.code.sf.net/p/xlr/git
[submodule "modules/vlc_audio_video"]
	path = modules/vlc_audio_video
	url = git://gitorious.org/tao-presentation-modules/vlc_audio_video.git 
[submodule "help_viewer"]
	path = help_viewer
	url = git://gitorious.org/taodyne-open-source/tao_help_viewer.git
[submodule "modules/chroma_key"]
	path = modules/chroma_key
	url = git://gitorious.org/tao-presentation-modules/chroma_key.git
[submodule "modules/speech/qt-speech"]
	path = modules/speech/qt-speech
	url = git://gitorious.org/taodyne-open-source/tao_qt_speech.git
[submodule "webui/webui"]
	path = webui/webui
	url = ssh://io.taodyne.com/~/RedmineProjects/tao-editor-proto.git
