body {
    font-family: "unifont";
    font-size: 16px
}
.selected {
    background-color:#c0c0c0;
}
.number {
    color:#00007f;
}
.string {
    color:#007f7f;
}
.type {
    color:#7f007f;
}
.keyword {
    color:#7f7f00;
}
.function {
    color:#007f7f;
}
.builtin {
    color:#7f007f;
}
.comment {
    color:#7f0000;
    font-style:oblique;
}
