[Desktop Entry]
Type=Application
Categories=Graphics;Office;Development;Presentation;
Exec=/opt/Taodyne/Tao3D/tao --one-instance %u
Icon=tao3D
MimeType=application/com.Taodyne.tao3Ddoc;x-scheme-handler/tao;x-scheme-handler/taos;
X-KDE-Protocols=tao,taos

Name=Tao3D
Comment=Create and show 2D and 3D presentations

Comment[fr]=Créez et affichez des présentations en 2D et 3D
