[Desktop Entry]
Type=Application
Categories=Graphics;Office;Presentation;
Exec=/opt/Taodyne/Tao3DPlayer/tao --one-instance %u
Icon=tao3Dplayer
MimeType=application/com.Taodyne.tao3Ddoc;x-scheme-handler/tao;x-scheme-handler/taos;
X-KDE-Protocols=tao,taos

Name=Tao3D Player
Comment=Play Tao3D files (.ddd) in 2D and 3D

Comment[fr]=Jouez des fichiers Tao3D (.ddd) en 2D et 3D
