[Desktop Entry]
Type=Application
Categories=Graphics;Office;Presentation;
Exec=/opt/Taodyne/TaoPresentationsPlayer/tao --one-instance %u
Icon=taopresentationsplayer
MimeType=application/com.taodyne.taopresentationsdoc;x-scheme-handler/tao;x-scheme-handler/taos;
X-KDE-Protocols=tao,taos

Name=Tao Presentations Player
Comment=Play Tao Presentations files (.ddd) in 2D and 3D

Comment[fr]=Jouez des fichiers Tao Presentations (.ddd) en 2D et 3D
